@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@font-face {
    font-family: "CircularStd";
    src: url(../fonts/CircularStd-Book.woff2) format("woff2"), url(../fonts/CircularStd-Book.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "CircularStd";
    src: url(../fonts/CircularStd-Bold.woff2) format("woff2"), url(../fonts/CircularStd-Bold.woff) format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "CircularStd";
    src: url(../fonts/CircularStd-Black.woff2) format("woff2"), url(../fonts/CircularStd-Black.woff) format("woff");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    border: 10px solid rgb(31, 109, 31);
    border-radius: 10%;
}
body {
    font-family: Roboto, Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
}
#head-title {
    color: rgb(102, 141, 102);
    text-shadow: green 5px 5px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: 900;
    text-decoration: underline;
}
#head-title ~ p {
    font-family: Ubuntu, Arial, sans-serif;
    font-size: 20px;
    color: red;
    text-align: left;
    font-weight: 700;
    line-height: 1.6;
    text-shadow: darkred 1px 1px;
    word-spacing: 3px;
    border: 2px dotted red;
    border-radius: 5%;
    padding: 5px 20px;
    margin: 0 100px 20px 100px;
}
nav p {
    color: aqua;
    font-family: Lobster;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    border: 4px double rgb(14, 112, 112);
    border-radius: 100% 0% 77% 23% / 62% 30% 70% 38%;
    box-shadow: 3px 3px 1px 1px aqua;
    padding: 5px 50px;
    margin: 50px 70px;
}
ul {
    font-family: Comforter, sans-serif;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.list-item {
    color: deeppink;
    outline: 5px dotted pink;
    margin: 0px 200px 30px 200px;
}
.article {
    color: rgba(87, 86, 161, 0.842);
    font-style: italic;
    font-size: 30px;
    text-align: left;
    line-height: 1.5;
    border: 3px dashed rgb(4, 50, 109);
    border-radius: 50%;
    padding: 15px 0px 5px 70px;
    margin-bottom: 20px;
    box-shadow: inset 5px 5px 3px 3px blue;
}
[class*="text"] {
    color: rgb(14, 235, 32);
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-shadow: rgb(86, 133, 17) 1px 1px;
    max-height: 300px;
    overflow: auto;
    outline: 10px solid rgb(0, 255, 170);
    border-radius: 1px;
    margin: 0px 20px 20px 20px;
    padding: 10px 0px;
}
.aft-text {
    margin: 0px 20px;
}
.after-text {
    margin: 0 150px;
    opacity: 0.5;
}
div.image {
    max-width: 500px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
span.barbos {
    display: block;
    font-family: Lobster, sans-serif;
    font-style: italic;
    font-size: 25px;
    color: burlywood;
    line-height: 1.6;
    padding: 5px 0px;
}
span.bobik {
    display: block;
    font-family: Comforter, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: blueviolet;
    text-shadow: 1px 1px violet;
    line-height: 1.6;
    padding: 5px 0px;
}
.author {
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: cornflowerblue;
    text-shadow: 2px 2px blue;
    line-height: 1.6;
    text-decoration: underline;
    text-align: center;
    margin: 10px 0px;
}
div.link-ahead {
    font-family: Ubuntu, sans-serif;
    font-size: 30px;
    color: rgb(208, 119, 219);
    text-shadow: 3px 3px rgb(90, 33, 90);
    line-height: 1.6;
    text-decoration: overline;
    text-align: center;
    margin-bottom: 50px;
}
.link {
    font-family: Ubuntu, sans-serif;
    font-size: 30px;
    color: rgb(233, 10, 133);
    text-shadow: 3px 3px rgb(248, 149, 187);
    line-height: 1.6;
    text-decoration: overline;
    text-align: center;
    margin-bottom: 50px;
}

.article-wrapper {
    overflow: hidden;
    min-height: 100%;
}
.container {
    max-width: 1025px;
    margin: 0 auto;
}

.main-article {
    font-family: CircularStd;
    font-size: 65px;
    font-weight: 900;
    text-align: center;
    line-height: 1.3;
    color: #313131;
    margin: 140px 0px 20px;
}
.description {
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 1.3;
    color: #5f5f5f;
    max-width: 750px;
    margin: 0 auto 224px;
}
.article-container {
    max-width: 508px;
}
.review {
    font-family: CircularStd;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    color: #313131;
    margin-bottom: 20px;
}
.content {
    font-family: CircularStd;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #5f5f5f;
    margin-bottom: 125px;
}
.about-container {
    max-width: 152px;
}
h3.name {
    font-family: CircularStd;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    color: #313131;
    margin-bottom: 5px;
}
.position {
    font-family: CircularStd;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 50px;
    color: #b8b8b8;
}
.image-container {
    max-width: 468px;
}
